body {
  padding: 0;
  margin: 0;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ########################################### */
/* MENU SUPERIOR - TOP-BAR */

.bloco-do-menu {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 8px -2px #989898;
}

.top-bar-index {
  width: 1032px;
  height: 44px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}

.bloco-do-menu img {
  width: 150px;
  height: 100%;
  margin-top: 0;
  padding-left: 20px;
}

.opcoes-logado-adm {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  gap: 20px;
}
.opcoes-logado-adm .opcao-menu {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: block;
  height: 44px;
  place-content: center;
  gap: 0;
  padding: 0;
  cursor: pointer;  
}

.opcoes-logado-adm .opcao-menu:hover {
  color: #0C8CE9;
  text-decoration: underline;
}

.opcoes-logado-adm .opcao-menu img {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 29px;
  margin-left: 5px;
  padding-right: 90px;
}

.bloco-do-submenu {
  width: 1072px;
  height: 80px;
  background-color: #fff;
  margin-top: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 2px 8px -2px #989898;
  justify-content: space-between;
}

.opcoes-submenu-usuario {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  gap: 20px;
  margin-left: 32px;
}

.opcoes-submenu-usuario .opcao-menu {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: block;
  height: 44px;
  place-content: center;
  gap: 0;
  padding: 0;
  cursor: pointer;
}
.opcoes-submenu-usuario .opcao-menu:hover {
  color: #0C8CE9;
  text-decoration: underline;
}

.botao-escolher-livro {
  width: 173px;
  height: 47px;
  background-color: #0C8CE9;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
}

.botao-escolher-livro:hover {
  color: #0C8CE9;
  background-color: #fff;
  border: 1px solid #0C8CE9;
}

/* ########################################### */
/* DESCRIÇÃO DO LIVRO */
.main-descricao-livro {
  width: 1072px;
  height: 1150px;
  background-color: #fff;
  box-shadow: 0 2px 8px -2px #989898;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteudo-descricao-livro {
  width: 1022px;
  height: 25px;
  margin-top: 10px;
}

.capa-titulo-descricao {
  display: flex;
  flex-direction: row;
  gap: 22px;
  margin-bottom: 20px;
}

.capa-livro-descricao {
  width: 407px;
  height: 586px;
}

.titulo-descriçao-botoes {
  width: 593px;
  height: 586;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo-livro-descricao {
  font-size: 50px;
  margin: 0;
  margin-bottom: 10px;
}

.nota-numero-leitores {
  width: 593px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.texto-descricao-livro {
  font-size: 18px;
}

.qtde-autor-publicacao {
  height: 54px;
  width: 593px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-card {
  width: 120px;
  height: 80px;
  flex-direction: column;
  justify-items: center;
  column-gap: 10px;
}

.botoes-da-descricao {
  width: 593px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.botao-adicionar-da-descricao {
  width: 280px;
  height: 47px;
  background-color: #00A65A;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0 2px 8px -2px #989898;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.botao-adicionar-da-descricao:hover {
  background-color: #00cc70;
}

.botao-reservar-da-descricao {
  width: 280px;
  height: 47px;
  background-color: #F39C11;
  color: #fff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  box-shadow: 0 2px 8px -2px #989898;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.botao-reservar-da-descricao:hover {
  background-color: #ffb339;
}

.comentarios-e-avaliacoes {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

.linha-vertical-descricao {
  width: 1019px;
  opacity: 60%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avaliacoes-descricao {
  display: flex;
  flex-direction: row;
  
}

.notas-descricao {
  width: 228px;
  display: flex;
  flex-direction: column;
}

#nota-grande {
  font-size: 60px;
  font-weight: bold;
  color: #0C8CE9;
}

.percentual-avaliacoes {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-top: 10px;
}

.main-descricao-livro span {
  font-size: 18px;
}

.textos-avaliacoes {
  width: 722px;
}


.identificacao-avaliacao {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.username-descricao {
  font-weight: bold;
  margin-right: 10px;
}

#date {
  font-size: 14px;
}

.botao-ver-mais-descricao {
  width: 169px;
  height: 35px;
  margin: 15px 0 0px 0;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  color: #0C8CE9;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  justify-self: center;
}

.botao-ver-mais-descricao:hover {
  background-color: #0C8CE9;
  color: #FFF;
}

/* ########################################### */
/* PERFIL DO USUARIO */

.main-perfil-usuario {
  width: 1072px;
  height: 742px;
  background-color: #fff;
  box-shadow: 0 2px 8px -2px #989898;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conteudo-perfil-usuario {
  width: 1012px;
  height: 168px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.foto-do-perfil {
  border-radius: 50%;
  width: 150px; 
  height: 150px;
}

.coluna-perfil-usuario-1 {
  height: 168px;
  width: 506px;
  display: flex;
  flex-direction: row;
}

.coluna-identificadores {
  height: 168px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin-left: 30px;
}

.coluna-identificadores input {
  width: 300px;
  height: 47px;
  font-size: 18px;
  box-shadow: 0 2px 8px -2px #989898;
  border: none;
  border-radius: 5px;
}

.coluna-perfil-usuario-2 {
  height: 168px;
  width: 506px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.botao-editar-perfil {
  color: #0C8CE9;
  font-size: 18px;
  font-weight: bold;
}

.main-perfil-usuario hr {
  width: 1012px;
  height: 2px;
  margin: 10px 0 10px 0;
}

.main-perfil-usuario h1 {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px 0;
  padding: 0;
}

.linha-gerenciar-livro {
  width: 1012px;
  height: 100px;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.grid-colunas-da-linha {
  display: grid;
  grid-template-columns: 337px 337px 337px;
  grid-template-rows: 100px; 
  align-items: center;
}

.linha-gerenciar-livro span {
  font-size: 18px;
}

.coluna-1-gerenciar-livro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.coluna-1-gerenciar-livro img {
  width: 61px;
  height: 94px;
  margin-left: 10px;
}

.descricoes-coluna-1 {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
  margin-left: 20px;
}

.coluna-2-gerenciar-livro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.descricoes-coluna-2 {
  display: flex;
  flex-direction: column;
  height: 90px;
  justify-content: space-between;
}

.coluna-3-gerenciar-livro {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  gap: 10px;
}

.renovar-livro {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.finalizar-emprestimo {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}

.botao-renovar {
  width: 213px;
  height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  background-color: #fff;
  margin-left: 10px;
  font-size: 18px;
  font-family: 'Times New Roman';
}

.botao-renovar:hover {
  color: #0C8CE9;
  border: 1px solid #0C8CE9;
}

.botao-finalizar {
  width: 213px;
  height: 35px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  background-color: #00A65A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-left: 10px;
}

.botao-finalizar:hover {
  background-color: #00cc70;
  border: 1px solid #00A65A;
}

.botao-ver-mais-historico {
  width: 169px;
  height: 35px;
  margin: 15px 0 0px 0;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  color: #0C8CE9;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.botao-ver-mais-historico:hover {
  background-color: #0C8CE9;
  color: #fff;
}

.emprestimo-finalizado {
  background-color: #d9d9d9;
}

.emprestimo-finalizado .botao-renovar {
  background-color: #d7d7d7;
}

.emprestimo-finalizado .botao-finalizar {
  background-color: #d7d7d7;
  color: #989898;
}

/* ########################################### */
/* NOTIFICAÇÕES DO USUARIO */

.main-usuario-notificacoes {
  width: 1072px;
  height: 756px;
  background-color: #fff;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 8px -2px #989898;
}

.main-usuario-notificacoes h1 {
  font-size: 20px;
  margin: 10px 0 0 0;
}

.card-notificacoes-usuario {
  width: 1012px;
  height: 100px;
  box-shadow: 0 2px 8px -2px #989898;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.tipo-da-notificacao {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.texto-da-notificacao {
  max-width: 850px;
  max-height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}


.botao-ver-mais-historico-notificacoes {
  width: 169px;
  height: 35px;
  margin: 15px 0 0px 0;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
  color: #0C8CE9;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  
}

.botao-ver-mais-historico-notificacoes:hover {
  background-color: #0C8CE9;
  color: #fff;
}

/* ########################################### */
/* CARRINHO DO USUARIO */
.main-usuario-carrinho {
  width: 1072px;
  height: 480px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.conteudo-bloco-carrinho {
  width: 1032px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notificacao-livro-indisponivel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #F39C11;
  width: 1032px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.bloco-cards-carrinho {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.card-carrinho {
  width: 320px;
  height: 300px;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.icone-excluir-card {
  width: 320px;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: end;
  margin-top: 10px;
  margin-right: 10px;
}

.icone-excluir-card svg:hover {
  fill: #ff0000;
}

.card-carrinho img {
  width: 132px;
  height: 200px;
}

.status-livro-card {
  color: #00A65A;
  font-weight: bold;
}

.bloco-botoes-carrinho {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.botao-solicitar-emprestimo {
  width: 215px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #00A65A;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px -2px #989898;
}

.botao-solicitar-emprestimo:hover {
  background-color: #00cc70;
}

.botao-esvaziar-carrinho {
  width: 215px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F39C11;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px -2px #989898;
}

.botao-esvaziar-carrinho:hover {
  background-color: #ffb339;
}

/* ########################################### */
/* RESERVAS DO USUARIO */
.main-usuario-reservas {
  width: 1072px;
  height: 480px;
  margin-top: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.conteudo-bloco-reservas {
  width: 1032px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloco-cards-reservas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.card-reserva {
  width: 320px;
  height: 342px;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.icone-excluir-card-reserva {
  width: 320px;
  height: 300px;
  position: absolute;
  display: flex;
  justify-content: end;
  margin-top: -25px;
  margin-right: 10px;
}

.icone-excluir-card-reserva svg:hover {
  fill: #ff0000;
}

.card-reserva img {
  width: 132px;
  height: 200px;
}

.status-livro-reservado {
  color: #ff0000;
  font-weight: bold;
}

.bloco-botao-reservas {
  gap: 20px;
  margin-top: 20px;
}

.botao-solicitar-emprestimo-reservas {
  width: 215px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  font-size: 18px;
  font-weight: bold;
  color: #8e8e8e;
  border-radius: 10px;
  box-shadow: 0 2px 8px -2px #989898;
}

.botao-solicitar-emprestimo-reservas:hover {
  background-color: #e7e7e7;
}

/* ########################################### */
/* ########## MAIN - EDITAR PERFIL.HTML ########## */
.main-editar-usuario {
  height: calc(100% - 90px);
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloco-editar-usuario {
  width: 1072px;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
} 

.bloco-editar-usuario-interno {
  width: 392px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
}

.bloco-editar-usuario-interno h1 {
  font-size: 30px;
  font-weight: bold;
  color: #0C8CE9;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;
}

.bloco-editar-usuario-interno form {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bloco-editar-usuario-interno span {
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: block;
  width: 324px;
  margin-top: 15px;
}

.bloco-editar-usuario-interno .input {
  width: 324px;
  height: 47px;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
  background-color: #E7E7E7;
  padding: 0;
  margin: 0;
}

.bloco-editar-usuario-interno .botoes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 324px;
  justify-content: space-between;
}

.bloco-editar-usuario-interno .botao-salvar {
  width: 150px;
  height: 47px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  background-color: #0C8CE9;
  color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bloco-editar-usuario-interno .botao-cancelar {
  width: 150px;
  height: 47px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  background-color: #fff;
  color: #0C8CE9;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bloco-editar-usuario-interno button:hover {
  background-color: #fff;
  color: #0C8CE9;
  border: 1px solid #0C8CE9;
}

.excluir-conta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 21px;
  align-items: center;
  gap: 21px;
}

.excluir-conta a {
  width: 127px;
  height: 30px;
  background-color: #e91717;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px -2px #989898;
}

.excluir-conta a:hover {
  background-color: #ff0000;
  color: #fff;
}

.bloco-editar-usuario-interno .add-img-perfil {
  width: 20px;
  height: 20px;
}

.bloco-editar-usuario-interno .botao-add-img-perfil {
  height: 21px;
  width: 324px;  
}

/* ########################################### */
/* FOOTER - RODAPÉ */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}
.footer-contatos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.footer-contatos img {
  width: 27px;
  height: 27px;
  padding: 0;
}
footer p {
  padding: 0;
  margin: 3px;
  font-size: 15px;
}
