body {
  padding: 0;
  margin: 0;
  background-color: #F0F0F0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ########################################### */
/* MENU SUPERIOR - TOP-BAR */

.bloco-do-menu {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 2px 8px -2px #989898;
}
.top-bar-index {
  width: 1032px;
  height: 44px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.bloco-do-menu img {
  width: 150px;
  height: 100%;
  margin-top: 0;
  padding-left: 20px;
}
.opcoes-sem-login {
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  gap: 20px;
}
.opcoes-sem-login a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  display: block;
  height: 44px;
  place-content: center;
  gap: 0;
  padding: 0;
  cursor: pointer;
}
.opcoes-sem-login a:hover {
  color: #0C8CE9;
  text-decoration: underline;
}


/* ########## MAIN - INDEX.HTML ########## */
/* BARRA DE BUSCA - INDEX */
.main-index {
  height: calc(100% - 90px);
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bloco-index-busca {
  background-color: #fff;
  width: 1072px;
  height: 300px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px -2px #989898;
}

.texto-bem-vindo {
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.bloco-index-busca input {
  width: 578px;
  height: 47px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #E7E7E7; 
  box-shadow: 0 2px 8px 0px #989898;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.bloco-index-busca button {
  width: 173px;
  height: 47px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #0C8CE9;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  cursor: pointer;
}

.bloco-index-busca button:hover {
  border: 1px solid #0C8CE9;
  background-color: #fff;
  color: #0C8CE9;
}

.bloco-index-busca p {
  font-size: 18px;
}

/* DESTAQUES - INDEX */
.bloco-destaques-index {
  width: 1072PX;
  height: 316PX;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0 2px 8px -2px #989898;
}

.titulo-livros-destaque {
  padding: 0;
  margin: 0;
  height: 47px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 700;
}

.bloco-cards-destaques {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.bloco-cards-destaques:hover > :not(:hover) {
  opacity: .4;
  transform: scale(0.9);
}

.card-livro-destaque {
  width: 143px;
  height: 248px;
  border-radius: 10px;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  transition: .35s;
  cursor: pointer;
}

.card-livro-destaque img {
  height: 163px;
  width: 106px;
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.titulo-livros-index {
  text-align: center;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.botao-adicionar-index {
  width: 120px;
  height: 23px;
  background-color: #0C8CE9;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.botao-adicionar-index:hover {
  border: 1px solid #0C8CE9;
  background-color: #fff;
  color: #0C8CE9;
}

/* CATEGORIAS */
.bloco-categoria {
  width: 1072PX;
  height: 316PX; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  margin-top: 20px;
  box-shadow: 0 2px 8px -2px #989898;
}

.lista-categorias {
  width: 700px;
  height: 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  column-gap: 16px;
  justify-content: center;
}

.texto-categoria-index {
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 0;
}

.lista-categorias a {
  width: 231px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px -2px #989898;
  padding-bottom: 0;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}

.lista-categorias a:hover {
  background-color: #0C8CE9;
  color: #fff;
  font-weight: 700;
}

/* ########################################### */
/* ########## MAIN - ACERVO.HTML ########## */
/* BARRA DE BUSCA - ACERVO */

.main-acervo {
  height: calc(100% - 90px);
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-acervo h1 {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  padding: 0;
  margin: 28px;
}

.bloco-acervo-busca {
  background-color: #fff;
  width: 1072px;
  height: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px -2px #989898;
  row-gap: 23px;
  padding: 0;
  margin: 0;
}

.bloco-acervo-busca input {
  width: 578px;
  height: 47px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  background-color: #E7E7E7; 
  box-shadow: 0 2px 8px 0px #989898;
}

.bloco-acervo-busca form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.bloco-acervo-busca button {
  width: 173px;
  height: 47px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #0C8CE9;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  cursor: pointer;
}

.bloco-acervo-busca button:hover {
  border: 1px solid #0C8CE9;
  background-color: #fff;
  color: #0C8CE9;
}

.bloco-acervo-busca p {
  font-size: 18px;
  padding: 0;
  margin: 0;
}

/* BLOCO COM OS LIVROS DO ACERVO */

.bloco-livros-acervo {
  width: 1072px;
  height: 100%;
  background-color: #fff;
  margin-top: 20px;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bloco-interno-livros-acervo {
  max-width: 958px;
}

.acervo-filtros {
  width: 958px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0 0 0;
  padding: 0;
}

.bloco-interno-livros-acervo hr {
  padding: 0;
  margin-top: 2px;
}

.bloco-cards-acervo {
  width: 958px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 26px;
}

.card-livro-acervo {
  width: 143px;
  height: 248px;
  border-radius: 10px;
  box-shadow: 0 2px 8px -2px #989898;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.card-livro-acervo img {
  height: 163px;
  width: 106px;
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.titulo-livros-acervo {
  text-align: center;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.botao-adicionar-acervo {
  width: 120px;
  height: 23px;
  background-color: #0C8CE9;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.botao-adicionar-acervo:hover {
  border: 1px solid #0C8CE9;
  background-color: #fff;
  color: #0C8CE9;
}

.paginas-acervo {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 35px 0;
}

.paginas-acervo p {
  font-size: 18px;
}

.bloco-interno-livros-acervo a {
  text-decoration: none;
  font-size: 18px;
  color: #0C8CE9;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bloco-interno-livros-acervo a p {
  margin: 0;
  padding: 0;
}

.bloco-interno-livros-acervo a svg {
  fill: #0C8CE9; 
  width: 20px;
  height: 20px;
}

.bloco-interno-livros-acervo a:hover {
  text-decoration: underline;
  svg {
    fill: #fff;
    stroke: #0C8CE9;
  }
}

/* ########################################### */
/* ########## MAIN - POLITICAS.HTML ########## */

.main-politicas {
  height: calc(100% - 90px);
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-politicas h1 {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  padding: 0;
  margin: 28px;
}

.bloco-politicas {
  width: 1072px;
  height: 626px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px -2px #989898;
}

.conteudo-politicas {
  max-width: 979px;
}

.bloco-politicas h2 {
  align-self: start;
  margin: 0;
  padding: 0;
}

.bloco-politicas ul li {
  line-height: 1.4;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

/* ########################################### */
/* ########## MAIN - SOBRE.HTML ########## */

.main-sobre {
  height: calc(100% - 90px);
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-sobre h1 {
  font-size: 25px;
  font-weight: bold;
  align-self: center;
  padding: 0;
  margin: 28px;
}

.bloco-sobre {
  width: 1072px;
  height: 1059px;
  background-color: #fff;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  box-shadow: 0 2px 8px -2px #989898;
}

.bloco-sobre img {
  max-width: 536px; 
}

.texto-sobre {
  max-width: 536px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto-sobre strong {
  font-size: 20px;
}

.texto-sobre p {
  font-size: 18px;
  width: 500px;
  line-height: 1.4;
}

/* ########################################### */
/* ########## MAIN - LOGIN.HTML ########## */

.main-login {
  height: calc(100% - 90px);
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloco-login {
  width: 1072px;
  height: 626px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.bloco-login-interno {
  width: 392px;
  height: 388px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
}

.bloco-login-interno h1 {
  font-size: 30px;
  font-weight: bold;
  color: #0C8CE9;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.bloco-login-interno form {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bloco-login-interno span {
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: block;
  width: 324px;
}

.bloco-login-interno input {
  width: 324px;
  height: 47px;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
  background-color: #E7E7E7;
  padding: 0;
  margin: 0;
}

.bloco-login-interno button {
  width: 325px;
  height: 47px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  background-color: #0C8CE9;
  color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.bloco-login-interno button:hover {
  background-color: #fff;
  color: #0C8CE9;
  border: 1px solid #0C8CE9;
}

.nao-possui-conta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 21px;
  align-items: center;
  gap: 21px;
}

.nao-possui-conta a {
  width: 127px;
  height: 30px;
  background-color: #fff;
  color: #0C8CE9;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px -2px #989898;
}

.nao-possui-conta a:hover {
  background-color: #0C8CE9;
  color: #fff;
}

/* ########################################### */
/* ########## MAIN - CADASTRO.HTML ########## */
.main-cadastro {
  height: calc(100% - 90px);
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bloco-cadastro {
  width: 1072px;
  height: 626px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
} 

.bloco-cadastro-interno {
  width: 392px;
  height: 521px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
}

.bloco-cadastro-interno h1 {
  font-size: 30px;
  font-weight: bold;
  color: #0C8CE9;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.bloco-cadastro-interno form {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.bloco-cadastro-interno span {
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: block;
  width: 324px;
}

.bloco-cadastro-interno input {
  width: 324px;
  height: 47px;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  border-radius: 5px;
  background-color: #E7E7E7;
  padding: 0;
  margin: 0;
}

.bloco-cadastro-interno button {
  width: 325px;
  height: 47px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: 0 2px 8px -2px #989898;
  background-color: #0C8CE9;
  color: #fff;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  margin-top: 15px;
}

.bloco-cadastro-interno button:hover {
  background-color: #fff;
  color: #0C8CE9;
  border: 1px solid #0C8CE9;
}

.ja-possui-conta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 21px;
  align-items: center;
  gap: 21px;
}

.ja-possui-conta a {
  width: 127px;
  height: 30px;
  background-color: #fff;
  color: #0C8CE9;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px -2px #989898;
}

.ja-possui-conta a:hover {
  background-color: #0C8CE9;
  color: #fff;
}

/* ########################################### */
/* FOOTER - RODAPÉ */
footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
  padding: 0;
  margin: 0;
}
.footer-contatos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 21px;
}
.footer-contatos img {
  width: 27px;
  height: 27px;
  padding: 0;
}
footer p {
  padding: 0;
  margin: 3px;
  font-size: 15px;
}